django==2.0.6
django-heroku==0.3.1
gunicorn==19.8.1
psycopg2-binary
django-progressive-web-app
pipenv
python-social-auth[django]
python-decouple
django-widget-tweaks
djangorestframework
django-cors-headers
