<!DOCTYPE html>
<html lang="en">
{% load pwa %}
{% load static %}
    <head>
        {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Android-->
        <meta name="theme-color" content="#455A64" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#455A64">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <title>
            {% block title %}
                Cruzz
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit-rtl.min.css' %}">
    </head>
    <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
    <body>
        <div>
            {% block body %}

            {% endblock %}
        </div>
    </body>
</html>
